@import "tailwindcss";

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;

  /* --primary-typography: #232323; */
  --primary-navy: #232323;
  --primary-yellow: #f6c010;
  --primary-subtitle: #8d8d8d;
  --primary-blue: #1b2543;
  --primary-white: #ffffff;
  --secondary-white: #e5e3e3;
  --tertiary-white: #e5e5e5;
  --quartiary-white: #f7f7f7;
}

*:not(a) {
  box-sizing: border-box;
  line-height: 130.8%;
}

html,
body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

button {
  cursor: pointer;
  text-align: inherit;
  appearance: none;
  line-height: 100%;
}

a {
  line-height: normal;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.box-shadow {
  box-shadow: 0px -100px 100px 0px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0px -100px 100px 0px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px -100px 100px 0px rgba(0, 0, 0, 0.5) inset;
}
